@{
    ViewBag.Title = "Home Page";
    //if (Session["UserID"] == null)
    //{
    //    Response.Redirect("~/LoginUser/Index");
    //}
    //blocking unauthorised access using sessionState in web config now its set to 55 mins
}

<div class="jumbotron">
    <h1>Library Management System</h1>
</div>
@*<h3> User Name: @Session["UserName"]</h3>*@